/* FONT-'Inter'*/
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* FONT Raleway*/
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #c6c5ef1d;
  max-width: 100%;
  max-height: 100%;

}


/*FIRST PART*/
.first-bg {
  margin: 5px;
  padding: 0;
  max-width: 100%;
  height: 700px;
  background-image: url('../Assets/Hero-bg.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin-top: 50px;
}

.logo {
  width: 800px;
  color: #4E47FF;
  font-weight: 800px;
  font-size: 34px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

button {

  background-color: #4E47FF;
  color: white;
  text-decoration: none;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}
.stay-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
}


.title {
  align-self: center;
}

.header-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 120px auto 10px; 
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #252432;
  text-shadow: 2px 2px 5px #25243148;
  max-width: 800px;

}

/*SECOND PART*/

.header-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  margin-right: 150px;
  margin-left: 139px;
  margin-top: 10%;

}

.preview h2 {
  font-size: 42px;
  color: #252432;
  margin-top: 120.5px;
  margin-bottom: 200.5;
  margin-right: 100px;
}

.preview p {
  color: #25243289;

  margin-bottom: 125.5;
  margin-right: 103px;
}

img {
  margin-top: 50px;g
  max-width: 100%;
  border-radius: 48px;
  margin-right: 69px;
  
}

section {
  margin-bottom: 4rem;
}

/* THIRD Section */
.user-survey {
  background-color: #e7ebfc;
  padding: 3rem 2rem;
  border-radius: 20px;
  margin: 3rem auto;
  max-width: 1100px;
  text-align: center;
}

.user-survey h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #252432;
  font-family: "Raleway", sans-serif;
}

.surveys {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-family: "Inter", sans-serif;
}

.survey h1 {
  font-size: 3.5rem;          
  font-weight: 800;           
  color: #4f46e5;
  margin: 0;                  
  line-height: 1.2;          
}
.survey p {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  margin-top: 0.3rem;         
  line-height: 1.2;
}

/*FOURTH  SECTION */
.testimonials h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align:center;
   font-family: "Raleway", sans-serif;
   text-size-adjust: 42;
   
}


.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  color: #282835c6;
}

.testimonial {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: left;
}

.stars {
  display: flex;
  gap: 6px;
}

.stars span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/Assets/icon-star.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.75rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/*FIFTH*/
.cta {
 background-color: white;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  max-width: 900px;
  max-height: 550px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
 padding-top: 30px;
 padding-bottom: 20px;
}

.cta h2 {
  .cta h2 {
  font-size: 2rem;
  margin-top: 20px;  
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

}

.cta p {
  margin-bottom: 1rem;
  color: #00000060;
   line-height: 1.4;
}

.btn {
color: #000000;
 font-family: "Raleway", sans-serif;
 text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition:  0.3s;
  margin-bottom: 1rem;
  
}

.cta img {
  margin-top: 1rem;
  margin-left: 140px;
  margin-right: 150px;
  margin-bottom: 10px;
  max-width: 60%;
  border-radius: 16px;
}

/*SIXTH */

   .contact {
      margin: 0;
      padding: 0;
      background-color: #c6c5ef1d;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }

    .contact-container {
      display: flex;
      background-color: #c6c5ef1d;
      width: 65%;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 40px;
      gap: 40px;
    }

    .left-title {
      flex: 1 ;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 52px;
      font-weight: bold;
      color: #333;
      font-family: "Raleway", sans-serif;
      font-size: 5rem;           
  font-weight: 540;         
  letter-spacing: 1px;      
  
    }

    .right-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
        font-family: "Inter", sans-serif;
        border-radius: 30px;
        padding: 20px;
    }

    .right-form input,
    .right-form textarea,
    .right-form button {
      width: 98%;
      padding: 14px;
      margin-bottom: 20px;
      font-size: 14px;
      padding: 36px 20px;
      color: #0000003a;
       padding: 20px; 
      border: 1px solid #ccc;
      border-radius: 12px;
    }

    .right-form button {
      background-color: #4a90e2;
      color: white;
      border: 1px solid #ccc; 
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .right-form button:hover {
      background-color: #357ab8;
    }